asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
dj-email-url==1.0.6
Django==5.1.1
django-cache-url==3.4.5
django-crispy-forms==2.3
environs==11.0.0
gunicorn==23.0.0
marshmallow==3.22.0
numpy==2.1.1
packaging==24.1
pandas==2.2.3
plotly==5.24.1
psycopg==3.2.2
psycopg-binary==3.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
sqlparse==0.5.1
tenacity==9.0.0
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.7.0
