{% extends "./base.html" %}

{% block content %}

<div class="container mt-4 mb-5">
  <h1>Creator and purpose</h1>
  <p>
    This page was created by Sebastian B. Schmitz on September 25, 2024, for friends and family as part of the preparations for the Berlin Marathon on September 29, 2024. Its purpose is to offer a scientific foundation for developing an effective pacing strategy to avoid "hitting the wall," a phenomenon caused by the depletion of glycogen stores, which are the primary energy source needed to complete a marathon successfully.
  </p>
  <h1 class="mt-4">Methodology</h1>
  <p class="mb-5">
    The calculations are primarily based on <i>Rapoport BI. Metabolic factors limiting performance in marathon runners. PLoS Comput Biol. 2010 Oct 21;6(10):e1000960. doi: 10.1371/journal.pcbi.1000960. PMID: 20975938; PMCID: PMC2958805.</i> available under <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2958805/pdf/pcbi.1000960.pdf">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2958805/pdf/pcbi.1000960.pdf</a>
  </p>
</div>

{% endblock %}